.catalog {
    display: grid;
    background-color: $base-background;
    grid-template-columns:  repeat(auto-fit, minmax(15rem, 1fr));
    grid-template-rows: min-content;
    grid-gap: 1rem;
    padding: 5px;
}