.frontCard {
    background-color: $main-white;
    grid-area: f;
    display: grid;
    grid-column: auto;
    border-radius: 10px;
    overflow: hidden;
    backface-visibility: hidden;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    align-items: center;
    grid-template-rows: repeat(3, auto);
    align-items: center;
    padding-bottom: 0.5rem;
    

    .headerCard {
        display: grid;
        grid-template: "h s";
        gap: 0.2rem;
        grid-row: auto;
        justify-self:space-between;
        align-items: center;
        background-color: #fafafa;
        padding: 0.7rem;
    }

    h3 {
        margin: 0;
        grid-area: h;
    }

    svg {
        grid-area: s;
        justify-self: flex-end;
        align-items: center;
    }
    .spriteContainer {
        display: grid;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        object-fit:cover;
        height: 100%;
        padding: 0.5rem;
        object-fit: fill;
        .sprite {
            min-height: 250px;
            width: 100%;
            object-fit:contain;
        }
    }

    @media (prefers-reduced-motion: no-preference) {
        .sprite {
          animation: Pokemon-image infinite 3s ease-in-out;
        }
    }

    @keyframes Pokemon-image {
        0% {
          transform: translateY(0);
        }
        50% {
          transform: translateY(3px)
        }
        100% {
          transform: translateY(0px)
        }
    }

    .types {
        padding: 0 10px;
        display: grid;
        grid-template-columns: 45% 45%;
        grid-gap: 10%;
    }
}