body {
    background-color: transparent;
    padding: 0px;
    margin: 0px;
}
// Containers
@import '../containers/Home/home';
@import '../containers/CatalogContainer/catalogContainer';
@import '../containers/DetailContainer/detailContainer';

// Components
@import '../components/Main/main';
@import '../components/SideBar/sideBar';
@import '../components/Catalog/catalog';
@import '../components/PokeCard/pokeCard';
@import '../components/Header/header';
@import '../components/DetailsCard/detailsCard';
@import '../components/FrontCard/frontCard';
@import '../components/BackCard/backCard';
@import '../components/TypePill/typePill';
@import '../components//CategoryName/categoryName';
@import '../components/Loading/loading';


// Variables

@import '../sass/utilities/variables';

/*** General classes ***/
// Generations
.generation-i {
    background: #ACD36C;
}
.generation-ii {
    background: #DCD677;
}
// Types
.normal {
    background: $normal;
}
.fighting {
    background: $fighting;
}
.flying {
    background: $flying;
}
.poison {
    background: $poison;
}
.ground {
    background: $ground;
}
.rock {
    background: $rock;
}
.bug {
    background: $bug;
}
.ghost {
    background: $ghost;
}
.steel {
    background: $steel;
}
.fire {
    background: $fire;
}
.water {
    background: $water;
}
.grass {
    background: $grass;
}
.electric {
    background: $electric;
}
.psychic {
    background: $psychic;
}
.ice {
    background: $ice;
}
.dragon {
    background: $dragon;
}
.dark {
    background: $dark;
}
.fairy {
    background: $fairy;
}
// Stats
.hp {
    background: $hp;
}
.atk {
    background: $atk;
}
.def {
    background: $def;
}
.sp_atk {
    background: $sp_atk;
}
.sp_def {
    background: $sp_def;
}
.speed {
    background: $speed;
}
