.categoryItem {
  background-color: $light-gray;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 0.8rem;
  height: 3.2rem;
  text-transform: uppercase;
  align-self: center;
  font-size: 0.6rem;
  color: $main-font;
  cursor: pointer;
  & > span {
    font-family: 'RobotoBold';
    font-size: 1rem;
  }
  :first-child {
    margin: 10px;
    font-size: 1.1rem;
    color: $main-font;
  }
  &:hover {
    background-color: $grass;
    color: $main-white;
    svg path {
      fill : $main-white;
    }
  }
}