.categoryItem {
  display: flex;
  justify-content:space-between;
  align-items: center;
  border-radius: 0.2rem;
  height: 2rem;
  align-self: center;
  font-size: 0.6rem;
  color: $main-font;
  cursor: pointer;
  border: none;
  width: 100%;
  margin-bottom: 5px;
  padding-inline: 1.2rem;
  background-color: $base-background;

  .crevron {
    fill: $base-background;
    font-weight: bold;
  }

  & > span {
    font-family: 'RobotoBold';
    font-size: 1rem;
  }
  :first-child {
    margin: 10px;
    font-size: 1.1rem;
    color: $main-font;
  }

  &:hover {
    background-color: $light-gray;
    color: $main-white;
  }
}
.displayItems {
  display: none;
}

.categoryItems {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  .all {
    background-color: $black-font !important;
  }
  .itemClass {
    display: inline;
    padding: 2px;
    text-align: center; 
    border-radius: 10px;
    text-transform: capitalize;
    color: $white;
    align-self: center;
    font-size: 0.8rem;
    opacity: 0.55;
    font-weight: bold;
    border: none;
    &:hover {
      opacity: 1;
      cursor: pointer;
    }
  }
}

.selectedItem {
  display: none;
  transform: fade-out;
}

.selected {
  opacity: 1 !important;
  padding: 7px !important;
}