.pokeCard {
    justify-self: stretch;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0,22,41,0.1);
    position: relative;
    overflow: hidden;
    cursor: pointer;
    &:hover {
        .frontCard {
            transform: rotateY(180deg);
        }
        .backCard {
            transform: rotateY(0deg);
        }
    }

    @keyframes fcard-spin {
        100% {
            transform: rotateY(180deg);
        }
    }

    @keyframes bcard-spin {
        100% {
            transform: rotateY(0deg);
        }
    }
}

// Types
.normal {
    border: 2px solid $normal;
}
.fighting {
    border: 2px solid $fighting;
}
.flying {
    border: 2px solid $flying;
}
.poison {
    border: 2px solid $poison;
}
.ground {
    border: 2px solid $ground;
}
.rock {
    border: 2px solid $rock;
}
.bug {
    border: 2px solid $bug;
}
.ghost {
    border: 2px solid $ghost;
}
.steel {
    border: 2px solid $steel;
}
.fire {
    border: 2px solid $fire;
}
.water {
    border: 2px solid $water;
}
.grass {
    border: 2px solid $grass;
}
.electric {
    border: 2px solid $electric;
}
.psychic {
    border: 2px solid $psychic;
}
.ice {
    border: 2px solid $ice;
}
.dragon {
    border: 2px solid $dragon;
}
.dark {
    border: 2px solid $dark;
}
.fairy {
    border: 2px solid $fairy;
}