.pokeCard {
    justify-self: stretch;
    align-items: stretch;
    background-color: white;
    grid-template:
        "f" 50%
        "b" 50%;
    border: 2px solid $green;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0,22,41,0.1);
}