.main {
    display: grid;
    border-radius: 10px 10px 0 0;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 50px auto;
    background-color: $base-background;
    margin-inline: 1rem;
    border: 1px solid #eee;
    gap: 5px;
    .headerMain {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        background-color: $light-gray;
        border-radius: 10px 10px 0 0;
        display: grid;
        grid-template-columns: 1fr 5fr;

        .headerSide {
            display:grid;
            grid-template-columns: 0.4fr 1fr;
            justify-items: center;
            align-items: center;
        }
    }
}