// Fonts
@font-face {
    font-family: "RobotoBold";
    src: local("RobotoBold"),
     url('./../../assets/fonts/Roboto-Bold-webfont.ttf') format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "RobotoRegular";
    src: local("RobotoRegular"),
     url('./../../assets/fonts/Roboto-Regular-webfont.ttf') format("truetype");
    font-weight:normal;
}

@font-face {
    font-family: "RobotoLight";
    src: local("RobotoLight"),
     url('./../../assets/fonts/Roboto-Light-webfont.ttf') format("truetype");
    font-weight: light;
}

@font-face {
    font-family: "RobotoMedium";
    src: local("RobotoMedium"),
     url('./../../assets/fonts/Roboto-Medium-webfont.ttf') format("truetype");
    font-weight: medium;
}

// Color
$main-white: #ffffff;
$base-background: #fafafa;
$proof: red;
$main-font: #424242;
$black-font: rgba(0,0,0,.87);
$light-gray: #eee;
$green: #A7DB8D;

// Pills
$white: #FFFFFF;

$normal: #A8A878;
$fighting: #C03028;
$flying: #A890F0;
$poison: #A040A0;
$ground: #E0C068;
$rock: #B8A038;
$bug: #A8B820;
$ghost: #705898;
$steel: #B8B8D0;
$fire: #F08030;
$water: #6890F0;
$grass: #78C850;
$electric: #F8D030;
$psychic: #F85888;
$ice: #98D8D8;
$dragon: #7038F8;
$dark: #705848;
$fairy: #EE99AC;

// Stats
$hp: #FF5959;
$atk: #F5AC78;
$def: #FAE078;
$sp_atk: #9DB7F5;
$sp_def: #A7DB8D;
$speed: #FA92B2;