.backCard {
    grid-area: b;
    border: 1px solid #eee;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $white;
    transform: rotateY(-180deg);
    backface-visibility: hidden;
    transition: transform 0.6s;
    transform-style: preserve-3d;

    p {
        margin: 0;
        padding: 5px;
        display: grid;
        grid-gap: 5px;
        grid-template-columns: repeat(auto-fit, minmax(50px, 6fr));

        &.abilities {
            grid-template-columns: repeat(2, 6fr);
        }

        h4 {
            margin: 0;
            grid-column: 1 / -1;
            text-align: center;
        }
        span {
            display: inline-block;
            font-size: 0.8rem;
            text-align: center;
            b {
                display: block;
            }
        }
        &.stats span{
            border-radius: 5px;
        }
    }

    .hp {
        background: $hp;
    }
    .atk {
        background: $atk;
    }
    .def {
        background: $def;
    }
    .sp_atk {
        background: $sp_atk;
    }
    .sp_def {
        background: $sp_def;
    }
    .speed {
        background: $speed;
    }
}